[Unit]
Description=daily borgwrapper backup timer

[Timer]
OnCalendar=daily
RandomizedDelaySec=6h
Persistent=true

[Install]
WantedBy=multi-user.target
