#BORG="/usr/bin/borg"
BORG_REPO="<user>@<reposerver>:/srv/borg/$(hostname -f)"

# If using a non-standard SSH port ssh:// have to be specified (per borg v1.0.9)
#BORG_REPO="ssh://<user>@<reposerver>:<ssh_port>/srv/borg/$(hostname -f)"
BORG_PASSPHRASE="longandcomplexpassphrase"
PATHS=(
    "/etc"
    "/home"
    "/root"
    "/srv"
    "/usr/local"
    "/var/spool/cron/crontabs"
)
EXCLUDES=(
    "sh:/home/**/.cache"
    "/root/.cache"
    "*.pyc"
)
KEEP_HOURLY=0
KEEP_DAILY=31
KEEP_WEEKLY=0
KEEP_MONTHLY=24
KEEP_YEARLY=5

# Limit bandwith used when backing up to SSH repositories. Requires the utility `pv`.
# The unit is bytes per second. 0 means no limit. The numeric part must be an integer value.
# You can use K, M, G or T binary prefixes (power of 1024), e.g., 5M = 5MiB/s = 5242880 bytes/s.
#BWLIMIT=0

# Location of borgwrapper lock files
#LOCKDIR="/run/lock/borgwrapper"

# You can add args, such as a custom identity key file, to ssh here
#BORG_RSH="ssh"

# Optional arguments to the different borg commands.
# The current default values are listed. Modify if needed.
#BORG_CREATE_ARGS=(
#    --info
#    --stats
#    --list
#    --filter AME
#    --compression lz4
#)
#BORG_PRUNE_ARGS=(
#    --info
#    --stats
#    --list
#)
#BORG_CHECK_ARGS=(
#    --info
#)
#BORG_INIT_ARGS=(
#   --encryption repokey-blake2
#)
