BORG="/usr/bin/borg"
BORG_REPO="user@reposerver:/srv/borg/$(hostname -f)"
BORG_PASSPHRASE="longandcomplexpassphrase"
PATHS=(
    "/etc"
    "/home"
    "/root"
    "/srv"
    "/usr/local"
    "/var/spool/cron/crontabs"
)
EXCLUDES=(
    "sh:/home/**/.cache"
    "/root/.cache"
    "*.pyc"
)
KEEP_DAILY=31
KEEP_WEEKLY=0
KEEP_MONTHLY=24
KEEP_YEARLY=5
